<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"
	default-autowire="byName">
	<!-- 订阅的hsf服务 -->
	<bean id="memberService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean"
		init-method="init">
		<property name="interfaceName">
			<value>com.taobao.kelude.user.service.MemberService</value>
		</property>
		<property name="version">
			<value>${k2.hsf.user.version}</value>
		</property>
	</bean>
	<bean id="userService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean"
		init-method="init">
		<property name="interfaceName">
			<value>com.taobao.kelude.user.service.UserService</value>
		</property>
		<property name="version">
			<value>${k2.hsf.user.version}</value>
		</property>
	</bean>
	 
</beans>
