<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:jdbc.properties</value>
			</list>
		</property>
	</bean>
	<bean id="db1" class="com.taobao.itest.jdbc.SchemaDataSource">
		<property name="driverClassName" value="${jdbc.driver}" />
		<property name="url" value="${jdbc.url1}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>
	<bean id="db2" class="com.taobao.itest.jdbc.SchemaDataSource">
		<property name="driverClassName" value="${jdbc.driver}" />
		<property name="url" value="${jdbc.url2}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>
	<bean id="jdbcTemplate1" class="org.springframework.jdbc.core.simple.SimpleJdbcTemplate">
		<constructor-arg ref="db1" />
	</bean>
	<bean id="jdbcTemplate2" class="org.springframework.jdbc.core.simple.SimpleJdbcTemplate">
		<constructor-arg ref="db2" />
	</bean>
	<bean id="transactionManager"
        class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="db1" />
	</bean>
	   <bean id="logInterceptor" class="com.taobao.itest.spring.aop.LogInterceptor">
               <property name="logInvokeParams" value="true" />
               <property name="logInvokeResult" value="true" />
       </bean>
       <bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
               <property name="beanNames">
                       <value>db1</value>
               </property>
               <property name="interceptorNames">
                       <list>
                               <value>logInterceptor</value>
                       </list>
               </property>
       </bean>
</beans>
