<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="tairManager" class="com.taobao.common.tair.impl.DefaultTairManager"
		init-method="init">
		<property name="configServerList">
			<list>
				<value>tair.config-vip.taobao.net:5198</value>
				<value>tair.config-vip.taobao.net:5198</value>
			</list>
		</property>
		<property name="groupName">
			<value>group_1</value>
		</property>
	</bean>

</beans> 